<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <button class="btn btn-primary" routerLink=""><b>Moody Foody</b></button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/login" routerLinkActive="active">Login</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/registeruser" routerLinkActive="active">Register</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/userprofile" routerLinkActive="active">Your Profile</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/aboutus" routerLinkActive="active">About Us</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/contactus" routerLinkActive="active">Contact Us</button>
      </li>    
    </ul>
  </div>  
</nav>